body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

canvas {
  display: block;
  border:1px solid #d3d3d3;
  background-color: #f1f1f1;
  margin: auto;
}

.text {
  width: 100vw;
  height: 56.25vw;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text div p {
  margin: 0 auto;
  text-align: center;
  font-size: 5vw;
  font-family: 'Arial',sans-serif;
}
